.lister{
    height: 80px;
    text-align: center;
    background-color: rgb(0, 209, 35);
    padding-top: 30px;
    /* border-radius: 20px 20px 20px 20px; */
}
.list{
    height: 120px;
    text-align: center;
    margin-left: 10%;
    margin-right: 0%;
    background-color: rgb(0, 209, 35);
    padding-top: 50px;
    border-radius: 20px 20px 20px 20px; 
} 
.host{
    height:50px;
    width: 20%;
    color: rgb(14, 13, 13);
    margin-left: 10%;
    padding-top: 5px;
    background-color: rgb(0, 209, 35);
    /* border-radius: 60px 60px 60px 60px; */
} 
.jink{
    color: black;
    margin-left: 10%;
    padding-top: 30px;

}